h1,
h2 {
  text-align: center;
}

code {
  display: block;
  padding: 30px;
  font-size: 20px;
}

code.good-job-bro {
  color: white;
  background-color: green;
}

code.not-that-bad {
  color: white;
  background-color: orange;
}

code.argh {
  color: white;
  background-color: red;
}

section {
  margin-bottom: 50px;
}
